/*****************/
/* DEFAULT */
/*****************/




u, ins {
text-decoration: none;
}
h1,h2{font-family: 'UTMAvoRegular', UTM_Avo, sans-serif; font-size:16px; word-spacing:-1px;}
h3,h4{font-family: 'arial', Helvetica, sans-serif; font-size:14px;}
